@import '@fontsource/poppins/400.css'; /* Regular */
@import '@fontsource/poppins/700.css'; /* Bold */
@import '@fontsource/outfit/400.css';
@import '@fontsource/prompt/400.css';
@import "tailwindcss";

/* Import component styles */
@import './styles/button.css';
@import './styles/icon.css';
@import './styles/navigation.css';
@import './styles/animation.css';

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-prompt: "Prompt", sans-serif;
}

/* Global Font Defaults */
body {
  font-family: var(--font-poppins);
  font-display: swap;
  text-rendering: optimizeLegibility;
}